.container {
  display: inline-flex;
  position: absolute;
  top: 20vh;
  left: 20vw;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 20px #666;
  border-radius: 2px;
  width: 50%;
  min-width: 500px;
}

.quote {
  width: 30%;
  min-width: 200px;
}

.display {
  height: 80px;
  background-color: #858694;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  padding: 0 10px;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 300px;
}

button {
  padding: 1.5rem;
  cursor: pointer;
  background-color: #e0e0e0;
  border-color: #80646479;
  border-radius: 0;
  border-style: solid;
}

.button-0 {
  grid-column: span 2;
}

.operator {
  background-color: #f5913e;
}
