*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  background-color: #7a6263;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  border-radius: 2px;
  width: 50%;
  min-width: 500px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.some-math {
  width: fit-content;
  color: beige;
  font-size: 18px;
  letter-spacing: 5px;
}

.display {
  height: 80px;
  background-color: #858694;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  padding: 0 10px;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 300px;
}

button {
  padding: 1.5rem;
  cursor: pointer;
  background-color: #e0e0e0;
  border-color: #80646479;
  border-radius: 0;
  border-style: solid;
}

.button-0 {
  grid-column: span 2;
}

.operator {
  background-color: #f5913e;
}
