nav {
  background-color: #f5913e;
  margin-bottom: 2.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.5rem;
}

.logo {
  color: #faebd7;
  font-size: 28px;
  letter-spacing: 8px;
  box-shadow: 0 0 9px #007fff;
  width: fit-content;
  border-radius: 5px;
  padding: 6px;
}

.nav-ul {
  display: flex;
}

.nav-ul > li {
  margin-left: 20px;
}

.nav-ul > li > a {
  padding: 20px;
  display: block;
  font-size: 17px;
  transition: all 0.5s;
  color: #2a0800;
}

.nav-ul > li > a:hover {
  background-color: #858694;
  color: #faebd7;
}
